@model web_quanao.Models.Category
@{
    ViewBag.Title = "Chi ti?t danh m?c";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<dl class="row">
    <dt class="col-sm-2">ID</dt><dd class="col-sm-10">@Model.CategoryId</dd>
    <dt class="col-sm-2">Tên</dt><dd class="col-sm-10">@Model.Name</dd>
    <dt class="col-sm-2">Mô t?</dt><dd class="col-sm-10">@Model.Description</dd>
    <dt class="col-sm-2">Ngày t?o</dt><dd class="col-sm-10">@Model.CreatedAt</dd>
</dl>
<p>
    <a class="btn btn-secondary" href="@Url.Action("Index")" data-loading>Quay l?i</a>
    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.CategoryId })" data-loading>S?a</a>
</p>
